*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --mobile-nav-bg: #fff;
}

body {
    font-family: "Open Sans";
    background: #30ffff;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: green;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 10px;
}

.title {
    font-size: 32px;
}

.m-1 {
    margin: 10px 0;
}

.desc {
    color: #444;
    font-weight: 400;
}
