*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --mobile-nav-bg: #fff;
}

body {
    font-family: 'Open Sans';
    background: #30ffff;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: green;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 10px;
}

.title {
    font-size: 32px;
}

.m-1 {
    margin: 10px 0;
}

.desc {
    color: #444;
    font-weight: 400;
}

.btn {
    display: inline-flex;
    align-self: center;
    padding: 10px 32px;
    border-radius: 10px;
    font-weight: 700;
    background: #222;
    color: #fff;

    &-download {
        color: green;
        background: #222;
    }
}
