body.dark {
    background: #222;
}

body.dark .main {
    background: #333;
    color: #fff;
}

body.dark .desc,
body.dark.title {
    color: #fff;
}

body.dark a {
    color: #fff;
}

body.dark .mobile-nav {
    background: #555;
}
