body.dark {
    background: #191919;
}

body.dark .main {
    background: #2c2d2f;
    color: #e1e3e6;
}

body.dark .desc,
body.dark.title {
    color: #e1e3e6 !important;
}

body.dark a {
    color: #0a7324;
}

body.dark .mobile-nav {
    background: #333;

    & a {
        color: #fff;
    }
}

body.dark .nav-link {
    color: #fff;
}
