h2.post-title {
    font-size: 32px;
    margin: 20px 0 0 0;
}

h4.post-title {
    font-size: 24px;
    margin: 10px 0 0 0;
}

.post-info {
    display: flex;
    gap: 10px;
    color: #b6b6b6;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(139, 139, 139);

    .date {
        margin-left: 20px;
    }
}

.post-content {
    margin-top: 25px;
}

.post-section {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    img {
        max-width: 100%;
        margin: 0 auto;
    }
}
