@font-face {
    font-family: "Open Sans";
    src: local("Open Sans SemiBold Italic"), local("OpenSans-SemiBoldItalic"),
        url("../fonts/Open-Sans/OpenSans-SemiBoldItalic.woff2") format("woff2"),
        url("../fonts/Open-Sans/OpenSans-SemiBoldItalic.woff") format("woff"),
        url("../fonts/Open-Sans/OpenSans-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"),
        url("../fonts/Open-Sans/OpenSans-BoldItalic.woff2") format("woff2"),
        url("../fonts/Open-Sans/OpenSans-BoldItalic.woff") format("woff"),
        url("../fonts/Open-Sans/OpenSans-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans Bold"), local("OpenSans-Bold"),
        url("../fonts/Open-Sans/OpenSans-Bold.woff2") format("woff2"),
        url("../fonts/Open-Sans/OpenSans-Bold.woff") format("woff"),
        url("../fonts/Open-Sans/OpenSans-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans Italic"), local("OpenSans-Italic"),
        url("../fonts/Open-Sans/OpenSans-Italic.woff2") format("woff2"),
        url("../fonts/Open-Sans/OpenSans-Italic.woff") format("woff"),
        url("../fonts/Open-Sans/OpenSans-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans ExtraBold Italic"), local("OpenSans-ExtraBoldItalic"),
        url("../fonts/Open-Sans/OpenSans-ExtraBoldItalic.woff2") format("woff2"),
        url("../fonts/Open-Sans/OpenSans-ExtraBoldItalic.woff") format("woff"),
        url("../fonts/Open-Sans/OpenSans-ExtraBoldItalic.ttf")
            format("truetype");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"),
        url("../fonts/Open-Sans/OpenSans-ExtraBold.woff2") format("woff2"),
        url("../fonts/Open-Sans/OpenSans-ExtraBold.woff") format("woff"),
        url("../fonts/Open-Sans/OpenSans-ExtraBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans Medium"), local("OpenSans-Medium"),
        url("../fonts/Open-Sans/OpenSans-Medium.woff2") format("woff2"),
        url("../fonts/Open-Sans/OpenSans-Medium.woff") format("woff"),
        url("../fonts/Open-Sans/OpenSans-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans Light"), local("OpenSans-Light"),
        url("../fonts/Open-Sans/OpenSans-Light.woff2") format("woff2"),
        url("../fonts/Open-Sans/OpenSans-Light.woff") format("woff"),
        url("../fonts/Open-Sans/OpenSans-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans Light Italic"), local("OpenSans-LightItalic"),
        url("../fonts/Open-Sans/OpenSans-LightItalic.woff2") format("woff2"),
        url("../fonts/Open-Sans/OpenSans-LightItalic.woff") format("woff"),
        url("../fonts/Open-Sans/OpenSans-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans Regular"), local("OpenSans-Regular"),
        url("../fonts/Open-Sans/OpenSans-Regular.woff2") format("woff2"),
        url("../fonts/Open-Sans/OpenSans-Regular.woff") format("woff"),
        url("../fonts/Open-Sans/OpenSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans Medium Italic"), local("OpenSans-MediumItalic"),
        url("../fonts/Open-Sans/OpenSans-MediumItalic.woff2") format("woff2"),
        url("../fonts/Open-Sans/OpenSans-MediumItalic.woff") format("woff"),
        url("../fonts/Open-Sans/OpenSans-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"),
        url("../fonts/Open-Sans/OpenSans-SemiBold.woff2") format("woff2"),
        url("../fonts/Open-Sans/OpenSans-SemiBold.woff") format("woff"),
        url("../fonts/Open-Sans/OpenSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "icomoon";
    src: url("../fonts/icons/icomoon.eot?lentop");
    src: url("../fonts/icons/icomoon.eot?lentop#iefix")
            format("embedded-opentype"),
        url("../fonts/icons/icomoon.ttf?lentop") format("truetype"),
        url("../fonts/icons/icomoon.woff?lentop") format("woff"),
        url("../fonts/icons/icomoon.svg?lentop#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
    content: "\f004";
}
.icon-star:before {
    content: "\f005";
}
.icon-star-o:before {
    content: "\f006";
}
.icon-user:before {
    content: "\f007";
}
.icon-home:before {
    content: "\f015";
}
.icon-comment:before {
    content: "\f075";
}
.icon-heart-o:before {
    content: "\f08a";
}
.icon-chain:before {
    content: "\f0c1";
}
.icon-link:before {
    content: "\f0c1";
}
.icon-location-arrow:before {
    content: "\f124";
}
.icon-youtube-play:before {
    content: "\f16a";
}
.icon-apple:before {
    content: "\f179";
}
.icon-windows:before {
    content: "\f17a";
}
.icon-android:before {
    content: "\f17b";
}
.icon-spotify:before {
    content: "\f1bc";
}
.icon-paper-plane:before {
    content: "\f1d8";
}
.icon-send:before {
    content: "\f1d8";
}
.icon-user-plus:before {
    content: "\f234";
}
.icon-user-times:before {
    content: "\f235";
}
.icon-user-circle:before {
    content: "\f2bd";
}
.icon-user-circle-o:before {
    content: "\f2be";
}
.icon-telegram:before {
    content: "\f2c6";
}
.icon-newspaper:before {
    content: "\e904";
}
